In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
# Read 2023 emisison data
scope1_2023=pd.read_csv('data/CDP/scope1_2023.csv').set_index('Account number')
scope2_2023=pd.read_csv('data/CDP/scope2_2023.csv').set_index('Account number')
scope3_2023=pd.read_csv('data/CDP/scope3_2023.csv')

# Read 2018 emisison data
scope1_2018=pd.read_csv('data/CDP/scope1_2018.csv').set_index('Account number')
scope2_2018=pd.read_csv('data/CDP/scope2_2018.csv').set_index('Account number')

# Read companies and extract all IDs
target_car=pd.read_excel('data/company_data/Data.xlsx', sheet_name='Targets_car')
target_og=pd.read_excel('data/company_data/Data.xlsx', sheet_name='Targets_OG')
target_airline=pd.read_excel('data/company_data/Data.xlsx', sheet_name='Targets_Airlines')

company_list=list(target_car['CDP_ID'].unique())+list(target_og['CDP_ID'].unique())+list(target_airline['CDP_ID'].unique())
company_list= [x for x in company_list if str(x) != 'nan']

# Read years for which companies report
reporting_year=pd.read_csv('data/CDP/reporting_year.csv')

# Read data that was manually added due to missing CDP records
missing_2017=pd.read_excel('data/company_data/Data.xlsx', sheet_name='Missing_2017').set_index('CDP_ID')

#missing_2018=pd.read_excel('data/company_data/Data.xlsx', sheet_name='Missing_2018').set_index('CDP_ID')

## Scope 1 Emissions

In [3]:
#Compile dataframe for all scope 1 emissions (i.e. 2023 and 2018)

scope1_total=pd.DataFrame(index=company_list, columns=['company_name', 'scope1_2023', 'scope1_2018'])
for i in scope1_total.index:
    if i in scope1_2023.index:
        print(i)
        
        scope1_total.loc[i, 'company_name']=scope1_2023.loc[i, 'Organization']
        scope1_total.loc[i, 'scope1_2023']=scope1_2023.loc[i, 'scope1_emissions']
       
      

    if i in scope1_2018.index:
        
        scope1_total.loc[i, 'scope1_2018']=scope1_2018.loc[i, 'scope1_emissions']
        


for i in missing_2017.index:
    scope1_total.loc[i, 'scope1_2018']=missing_2017.loc[i, 'scope1']
   # scope1_total.loc[i, 'scope1_2018_assurance']=missing_2018.loc[i, 'scope1_assurance']


scope1_total['scope1_2023']=pd.to_numeric(scope1_total['scope1_2023'], errors='coerce')
scope1_total['scope1_2018']=pd.to_numeric(scope1_total['scope1_2018'], errors='coerce')

scope1_total['scope1_difference']=scope1_total['scope1_2023']/scope1_total['scope1_2018']

19290
20309
866803
1932
7164
12263
8708
8566
6595
840836
10076
13363
18074
15634
9559
59325
11520
6855
58656
8362
14169
11267
18285
16012
19257
2083
23132
14654
5634
3751
36606
20048
13649
5581
17929
2667
15297
5767
16418
14774
15669
22341
14802
10150
13870
21135
29901
4678
19304
20705
9134
849766
11043
6602
21845
8793
20949
36979
3889
1800
12343
5021
839615
4408
19569
660
4657
21148
17420
429
22213
36707
550
9759
5170
2926
58720
44253
73994
31588
7581
49618
6332
22460
23144
59365
10289
9703
50174
427

In [4]:
#save to pickle
scope1_total.to_pickle('data/temp/scope1_total.pkl')

In [5]:
scope1_total[scope1_total['scope1_2018'].isna()]

                     company_name  scope1_2023  scope1_2018  scope1_difference
58656              NFI Group Inc.    152127.00          NaN                NaN
10150          Kinder Morgan Inc.  14900000.00          NaN                NaN
21135            KOÇ HOLDİNG A.Ş.   6864059.00          NaN                NaN
21845             San Miguel Corp  17485337.68          NaN                NaN
58720           Wizz Air Holdings   4811337.00          NaN                NaN
44253  Grupo Aeromexico SAB de CV   3823270.00          NaN                NaN
31588         Copa Holdings, S.A.   2796866.37          NaN                NaN
22460            Hawaiian Holding   2304897.00          NaN                NaN
59365             Chorus Aviation    986768.00          NaN                NaN

In [6]:
scope1_total.loc[6855]

company_name         SUBARU CORPORATION
scope1_2023                    264961.3
scope1_2018                   351327.71
scope1_difference              0.754171
Name: 6855, dtype: object

## Scope 2 emissions

In [7]:
#compile dataframe for scop2 emissions including 2018 and 2023 data and add missing values
scope2_total=pd.DataFrame(index=company_list, columns=['company_name', 'scope2_2023',  'scope2_2018'])

for i in scope2_total.index:
    if i in scope2_2023.index:

        
        scope2_total.loc[i, 'company_name']=scope2_2023.loc[i, 'Organization']
        scope2_total.loc[i, 'scope2_2023']=scope2_2023.loc[i, 'scope2_location_based']
       
        




        

    if i in scope2_2018.index:
        
        scope2_total.loc[i, 'scope2_2018']=scope2_2018.loc[i, 'scope2_location_based']

        if scope2_total.loc[i, 'scope2_2018'] == 'Question not applicable':
            scope2_total.loc[i, 'scope2_2018']=scope2_2018.loc[i, 'scope2_market_based']
       



for i in missing_2017.index:
        if missing_2017.loc[i, 'scope2_location_based'] is not np.nan:
            scope2_total.loc[i, 'scope2_2018']=missing_2017.loc[i, 'scope2_location_based']
        else:
            scope2_total.loc[i, 'scope2_2018']=missing_2017.loc[i, 'scope2_undefined']


        
  

scope2_total['scope2_2023']=pd.to_numeric(scope2_total['scope2_2023'], errors='coerce')
scope2_total['scope2_2018']=pd.to_numeric(scope2_total['scope2_2018'], errors='coerce')

scope2_total['scope2_difference']=scope2_total['scope2_2023']/scope2_total['scope2_2018']

In [8]:
scope2_total.to_pickle('data/temp/scope2_total.pkl')

In [9]:
len(scope2_total[scope2_total['scope2_2018'].isna()])

22